<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{#accordion-list-item title="Account Access"
                           detail="API endpoint and credentials."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Username. Fallback to Token if not set.</label>
          <input type="text"
            class="form-control"
            value={{config.username}}
            placeholder="Your IONOS username"
            onchange={{ action "updateUsername" value="target.value" }}
          >
        </div>
        <div class="col span-6">
          <label class="acc-label">Password. Fallback to Token if not set.</label>
          <input type="password"
            class="form-control"
            value={{ config.password }}
            placeholder="Your IONOS password"
            onchange={{ action "updatePassword" value="target.value" }}
          >
        </div>
      </div>
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">API Token (Overrides Username & Password)</label>
          <input type="password"
            class="form-control"
            value={{config.token}}
            placeholder="Your IONOS token"
            onchange={{ action "updateToken" value="target.value" }}
          >
          <p class="help-block">You can use <a href="https://docs.ionos.com/cli-ionosctl/subcommands/authentication/token-generate" target="_blank" rel="noopener noreferrer">ionosctl</a> to generate an API token.</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">API Endpoint</label>
          <input type="text"
              classNames="form-control"
              value={{config.endpoint}}
              placeholder="https://api.ionos.com/cloudapi/v6"
              onchange={{ action "updateEndpoint" value="target.value" }}
          >
          <p class="help-block">Optional</p>
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item title="Instance Options"
                           detail="VM settings. Set up your core count & ram."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=false
    }}
      <div class="row">
        <div class="col span-3">
          <label class="acc-label">Location</label>
            {{new-select class="form-control"
                         content=locationOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.location
            }}
        </div>
        <div class="col span-3">
          <label class="acc-label">Server Type</label>
            {{new-select class="form-control"
                         content=serverTypeOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.serverType
            }}
        </div>
        {{#if (eq config.serverType "CUBE") }}
        <div class="col span-3">
          <label class="acc-label">CUBE Server Template</label>
          {{new-select class="form-control"
                       content=templateOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.template
          }}
        </div>
        {{else}}
        <div class="col span-3">
          <label class="acc-label">Server Zone</label>
          {{new-select class="form-control"
                       content=serverZoneOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.serverZone
          }}
        </div>
        <div class="col span-3">
          <label class="acc-label">Volume Zone</label>
          {{new-select class="form-control"
                       content=volumeZoneOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.volumeZone
          }}
        </div>
        {{/if}}
      </div>

      {{#if (eq config.serverType "ENTERPRISE") }}
      <div class="row">
        <div class="col span-3">
          <label class="acc-label">CPU Family</label>
            {{new-select class="form-control"
                         content=cpuFamilyOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.cpuFamily
            }}
        </div>
        <div class="col span-3">
          <label class="acc-label">CPU core count</label>
          {{input-integer
            value=config.cores
            placeholder=4
            classNames="form-control"
          }}
        </div>
        <div class="col span-6">
          <label class="acc-label">RAM</label>
          <div class="input-group">
            {{input-integer min=256
                            value=config.ram
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">MiB</div>
          </div>
          <p class="help-block">Must be a multiple of 256</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Storge Size</label>
          <div class="input-group">
            {{input-integer value=config.diskSize
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>
        <div class="col span-6">
          <label class="acc-label">Storage Type</label>
          {{new-select class="form-control"
                       content=storageTypeOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.diskType
          }}
        </div>
      </div>
      {{else}}
      {{/if}}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Image Alias or ID</label>
          {{input type="text"
                  value=config.image
                  placeholder="ubuntu:20.04"
                  classNames="form-control"
          }}
          <p class="help-block">You can use <a href="https://docs.ionos.com/cli-ionosctl" target="_blank" rel="noopener noreferrer">ionosctl image list [-F name=operatingSystem]</a></p>
        </div>
        <div class="col span-6">
          <label class="acc-label">Image Password</label>
          {{input type="password"
                  value=config.imagePassword
                  placeholder="abcde12345"
                  classNames="form-control"
          }}
          <p class="help-block">Can be used to connect to the VM</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">Cloud init configuration.</label>
          <textarea id="editor" value={{config.cloudInit}} onchange={{action (mut config.cloudInit) value="target.value" }} rows="3" style="width: 100%; resize: vertical"></textarea>
          <p class="help-block">Optional. <a href="https://cloudinit.readthedocs.io/en/latest/topics/examples.html" target="_blank" rel="noopener noreferrer">Cloud-init Documentation</a>.</p>
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item title="Network Options"
                           detail="Set up your target Datacenter, LAN, and other network settings here."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=false
    }}
      <div class="row">
        <div class="col span-4">
          <label class="acc-label">SSH User</label>
          {{input type="text"
                  value=config.sshUser
                  classNames="form-control"
          }}
          <p class="help-block">Optional. User to connect to via SSH.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Send SSH in user data.</label>
          <div class="form-check" style="">
            {{input type="checkbox"
                    checked=config.sshInCloudInit
            }}
            <label class="form-check-label" for="sshInCloudInitCheckbox">
              Send SSH in user data.
            </label>
          </div>
          <p class="help-block">Should the driver only add the SSH info in the user data? (required for custom images).</p>
        </div>
      </div>
      <div class="row"> {{!-- Datacenter config row--}}
        <div class="col span-4">
          <label class="acc-label">IONOS Datacenter ID</label>
          {{input type="text"
                  value=config.datacenterId
                  classNames="form-control"
          }}
          <p class="help-block">Optional, UUID-4 format. If you want to use an existing IONOS Datacenter to host this VM, you can provide its ID here.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">IONOS Datacenter Name</label>
          {{input type="text"
                  value=config.datacenterName
                  classNames="form-control"
          }}
          <p class="help-block">String. If you want to use an existing IONOS Datacenter to host this VM, you can change the name here. Please note that if the ID is set it will the prioritized.</p>
        </div>
      </div>
      <div class="row">  {{!-- LAN config row--}}
        <div class="col span-4">
          <label class="acc-label">IONOS Lan ID</label>
          <!-- TODO: This, if has input, should make DatacenterID a required input -->
          {{input-integer
            value=config.lanId
            classNames="form-control"
          }}
          <p class="help-block">Optional, integer. The LAN the VM will attach to. If blank, a default LAN will be created. Overrides "Private LAN" setting.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">IONOS Lan Name</label>
          {{input type="text"
                  value=config.lanName
                  classNames="form-control"
          }}
          <p class="help-block">String. If you want to use an existing IONOS LAN, you can change the name here. Please note that if the ID is set it will the prioritized.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Private LAN</label>
          <div class="form-check" style="">
            {{input type="checkbox"
                    checked=config.privateLan
            }}
            <label class="form-check-label" for="privateLanCheckbox">
              Make Default LAN Private
            </label>
          </div>
          <p class="help-block">If the default LAN does not exist, create a private LAN</p>
        </div>
      </div>
      <div class="row">  {{!-- LAN config row--}}
        <div class="col span-6 form-group">
          <label class="acc-label">Additional LANs</label><br/>

          {{#each config.additionalLans as |Lan index|}}
          <div class="row">
            {{input id=(concat "Lan-" index) value=Lan placeholder="Lan" classNames="form-control mb-2 autowidth col" readonly=true}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "deleteAdditionalLan" index}}>-</button>
          </div>
          {{/each}}
          <div class="row">
            {{input id="newLan" value=(mut newLan) placeholder="New Lan" classNames="form-control mb-2 autowidth col"}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "addAdditionalLan" newLan}}>+</button>
          </div>
          <p class="help-block">Optional. Existing Ionos LAN names. Every LAN in the datacenter which has its name in this list will be connected to the server, names which are not found will be ignored.</p>
        </div>
      </div>
      <div class="row">  {{!-- NIC config row--}}
        <div class="col span-4">
          <label class="acc-label">IONOS NIC DHCP</label>
          <div class="form-check" style="">
            {{input type="checkbox"
                    checked=config.nicDhcp
            }}
            <label class="form-check-label" for="nicDhcpCheckbox">
              NIC DHCP
            </label>
          </div>
          <p class="help-block">Set whether the created NIC should have dhcp set on or off</p>
        </div>
        <div class="col span-6 form-group">
          <label class="acc-label">NIC IPs</label><br/>

          {{#each config.nicIps as |Ip index|}}
          <div class="row">
            {{input id=(concat "Ip-" index) value=Ip placeholder="IP" classNames="form-control mb-2 autowidth col" readonly=true}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "deleteNicIp" index}}>-</button>
          </div>
          {{/each}}
          <div class="row">
            {{input id="newIp" value=(mut newIp) placeholder="New IP" classNames="form-control mb-2 autowidth col"}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "addNicIp" newIp}}>+</button>
          </div>
          <p class="help-block">Optional. IPBlock reserved IPs. If not set, the driver will reserve an IPBlock automatically or let the API set a private IP if the LAN is private</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-4">
          <label class="acc-label">Wait for NIC IP change</label>
          <div class="form-check" style="">
            {{input type="checkbox"
                    checked=config.waitForIpChange
            }}
            <label class="form-check-label" for="waitForIpChangeCheckbox">
              Wait for NIC IP change
            </label>
          </div>
          <p class="help-block">Should the driver wait for the NIC IP to be set by external sources?</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Wait for IP change timeout</label>
          {{input-integer
            value=config.waitForIpChangeTimeout
            placeholder=600
            classNames="form-control"
          }}
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item title="NAT Options"
                           detail="Set up your NAT here."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=false
    }}

      <div class="row"> {{!-- NAT config row--}}
        <div class="col span-4">
          <label class="acc-label">IONOS Nat Gateway ID</label>
          {{input type="text"
                  value=config.natId
                  classNames="form-control"
          }}
          <p class="help-block">Optional, UUID-4 format. Use a preconfigured NAT Gateway. Datacenter ID and Private LAN required. Overrides NAT Config below</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">IONOS Nat Gateway Name</label>
          {{input type="text"
                  value=config.natName
                  classNames="form-control"
          }}
          <p class="help-block">String. If the "Create NAT" checkbox is checked, will try creating a NAT with this name. If one already exists, will use the existing NAT.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Create a configurable NAT</label>
          <div class="form-check" style="">
            {{input type="checkbox"
                    checked=config.createNat
            }}
            <label class="form-check-label" for="createNatCheckbox">
              Create NAT
            </label>
          </div>
          <p class="help-block">Requires private LAN. You can override settings of this NAT using the form below <a href="#" target="_blank" rel="noopener noreferrer">See open ports here</a>. Must set gateway IP as default route via cloud config, default: 10.0.0.1</p>
        </div>
      </div>
      <!-- Custom NAT Gateway settings  -->
      <div class="row">
        <div class="col span-6 form-group">
        <label class="acc-label">Custom NAT: map LANs to Gateway IPs</label>
          <div class="row">
            <div class="row">
              {{input value=newLanId placeholder="Lan ID" classNames="form-control mb-2 col span-5 autowidth"}}
              {{input value=gatewayIp placeholder="Gateway IP" classNames="form-control mb-2 col span-5 autowidth"}}
              <button type="button" class="btn btn-primary btn-sm col span-2" {{action "addGatewayIp" newLanId gatewayIp}}>Add</button>
            </div>
            {{#each lans as |lan|}}
              <div class="row">
                <label class="acc-label">Lan {{lan.id}} Gateway IPs</label><br/>
                {{#each lan.gatewayIps as |gatewayIp index|}}
                  <div class="row">
                    {{input id=(concat "gatewayIp-" lan.id "-" index) value=(mut gatewayIp) placeholder="Gateway IP" classNames="form-control col span-11 autowidth" readonly=true}}
                    <button type="button" class="btn btn-outline-danger btn-sm col span-1" {{action "deleteGatewayIp" lan index}}>-</button>
                  </div>
                {{/each}}
              </div>
            {{/each}}
            <p class="help-block">Optional. Maps Lan IDs to a specific Gateway IP. Gateway IP must be set manually as default route.</p>
          </div>
        </div>

        <div class="col span-6 form-group">
          <label class="acc-label">Custom NAT: Public IPs</label><br/>

          {{#each config.natPublicIps as |publicIp index|}}
          <div class="row">
            {{input id=(concat "publicIp-" index) value=publicIp placeholder="Public IP" classNames="form-control mb-2 autowidth col" readonly=true}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "deletePublicIp" index}}>-</button>
          </div>
          {{/each}}
          <div class="row">
            {{input id="newPublicIp" value=(mut newPublicIp) placeholder="New Public IP" classNames="form-control mb-2 autowidth col"}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "addPublicIp" newPublicIp}}>+</button>
          </div>
          <p class="help-block">Optional. IPBlock reserved IPs. If not set, the driver will reserve an IPBlock automatically</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-8 form-group">
        <label class="acc-label">Custom NAT: Flowlogs</label>
          <div class="row">
            <div class="row">
              <div class="col span-4">
                {{input value=flowlogName placeholder="Flowlog name" classNames="form-control"}}
                <p class="help-block">String. The name of the NAT Flowlog.</p>
              </div>
              <div class="col span-4">
                {{new-select class="form-control"
                         content=flowlogActionOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.flowlogAction
                }}
                <p class="help-block">String. The action of the NAT Flowlog.</p>
              </div>
            </div>
            <div class="row">
              <div class="col span-4">
                {{new-select class="form-control"
                          content=flowlogDirectionOptions
                          optionLabelPath='name'
                          optionValuePath='value'
                          value=config.flowlogDirection
                }}
                <p class="help-block">String. The direction of the NAT Flowlog.</p>
              </div>
              <div class="col span-4">
                {{input value=flowlogBucket placeholder="Flowlog bucket" classNames="form-control"}}
                <p class="help-block">String. The bucket of the NAT Flowlog.</p>
              </div>
              <button type="button" class="btn btn-primary btn-sm col span-2" {{action "addFlowlog" flowlogName config.flowlogAction config.flowlogDirection flowlogBucket}}>Add</button>
            </div>
            {{#each config.natFlowlogs as |flowlog index|}}
              <div class="row">
                <div class="col span-7">
                  {{input id=flowlog value=flowlog placeholder="Flowlog" classNames="form-control" readonly=true}}
                </div>
                <div class="col span-1">
                  <button type="button" class="btn btn-outline-danger btn-sm col span-1" {{action "deleteFlowlog" index}}>-</button>
                </div>
              </div>
            {{/each}}
            <p class="help-block">Optional. Nat Flowlogs.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col span-12 form-group">
        <label class="acc-label">Custom NAT: Rules</label>
          <div class="row">
            <div class="row">
              <div class="col span-3">
                {{input value=natRuleName placeholder="Rule name" classNames="form-control"}}
                <p class="help-block">String. The name of the new Nat Gateway Rule.</p>
              </div>
              <div class="col span-3">
                {{new-select class="form-control"
                         content=natRuleTypeOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.natRuleType
                }}
                <p class="help-block">String. The type of the NAT Flowlog.</p>
              </div>
              <div class="col span-3">
                {{new-select class="form-control"
                         content=natRuleProtocolOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.natRuleProtocol
                }}
                <p class="help-block">String. The protocol of the NAT Flowlog.</p>
              </div>
              <div class="col span-3">
                {{input value=natRulePublicIp placeholder="NAT Rule Public IP" classNames="form-control"}}
                <p class="help-block">String. The Public IP of the new Nat Gateway Rule, leave black and the driver will use the nat gateway IP.</p>
              </div>
            </div>
            <div class="row">
              <div class="col span-3">
                {{input value=natRuleSourceSubnet placeholder="NAT Rule Source Subnet" classNames="form-control"}}
                <p class="help-block">String. The source subnet of the new Nat Gateway Rule.</p>
              </div>
              <div class="col span-3">
                {{input value=natRuleTargetSubnet placeholder="NAT Rule Target Subnet" classNames="form-control"}}
                <p class="help-block">String. The target subnet of the new Nat Gateway Rule.</p>
              </div>
              <div class="col span-3">
                {{input value=natRulePortStart placeholder="NAT Rule Port Start" classNames="form-control"}}
                <p class="help-block">String. The target port range start of the NAT Gateway rule.</p>
              </div>
              <div class="col span-3">
                {{input value=natRulePortEnd placeholder="NAT Rule Port End" classNames="form-control"}}
                <p class="help-block">String. The target port range end of the NAT Gateway rule.</p>
              </div>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-sm col span-2" {{action "addNatRule" natRuleName config.natRuleType config.natRuleProtocol natRulePublicIp natRuleSourceSubnet natRuleTargetSubnet natRulePortStart natRulePortEnd}}>Add NAT Rule</button>
            </div>
            {{#each config.natRules as |rule index|}}
              <div class="row">
                <div class="col span-5">
                  {{input id=rule value=rule placeholder="NAT Rule" classNames="form-control" readonly=true}}
                </div>
                <div class="col span-1">
                  <button type="button" class="btn btn-outline-danger btn-sm col span-1" {{action "deleteNatRule" index}}>-</button>
                </div>
              </div>
            {{/each}}
            <p class="help-block">Optional. Nat Rules.</p>
          </div>
        </div>
      </div>
    {{/accordion-list-item}}


    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel
    save=(action "save")
    cancel=(action "cancel")
    editing=editing
  }}
</section>