<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{#accordion-list-item title="Account Access"
                           detail="API endpoint and credentials."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Username. Fallback to Token if not set.</label>
          {{input type="text"
                  class="form-control"
                  value=config.username
                  placeholder="Your IONOS username"
          }}
        </div>
        <div class="col span-6">
          <label class="acc-label">Password. Fallback to Token if not set.</label>
          {{input type="password"
                  class="form-control"
                  value=config.password
                  placeholder="Your IONOS password"
          }}
        </div>
      </div>
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">API Token (Overrides Username & Password)</label>
          {{input type="password"
              class="form-control"
              value=config.token
              placeholder="Your IONOS token"
          }}
          <p class="help-block">You can use <a href="https://docs.ionos.com/cli-ionosctl/subcommands/authentication/token-generate" target="_blank" rel="noopener noreferrer">ionosctl</a> to generate an API token.</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">API Endpoint</label>
          {{input type="text"
              class="form-control"
              value=config.endpoint
              placeholder="https://api.ionos.com/cloudapi/v6"
          }}
          <p class="help-block">Optional</p>
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item title="Instance Options"
                           detail="VM settings. Set up your core count & ram."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=false
    }}
      <div class="row">
        <div class="col span-3">
          <label class="acc-label">Location</label>
            {{new-select class="form-control"
                         content=locationOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.location
            }}
        </div>
        <div class="col span-3">
          <label class="acc-label">Server Type</label>
            {{new-select class="form-control"
                         content=serverTypeOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.serverType
            }}
        </div>
        {{#if (eq config.serverType "CUBE") }}
        <div class="col span-3">
          <label class="acc-label">CUBE Server Template</label>
          {{new-select class="form-control"
                       content=cubeServerTemplateOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.template
          }}
        </div>
        {{else}}
        <div class="col span-3">
          <label class="acc-label">Server Zone</label>
          {{new-select class="form-control"
                       content=zoneOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.serverZone
          }}
        </div>
        <div class="col span-3">
          <label class="acc-label">Volume Zone</label>
          {{new-select class="form-control"
                       content=zoneOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.volumeZone
          }}
        </div>
        {{/if}}
      </div>

      {{#if (eq config.serverType "ENTERPRISE") }}
      <div class="row">
        <div class="col span-3">
          <label class="acc-label">CPU Family</label>
            {{new-select class="form-control"
                         content=cpuOptions
                         optionLabelPath='name'
                         optionValuePath='value'
                         value=config.cpuFamily
            }}
        </div>
        <div class="col span-3">
          <label class="acc-label">CPU core count</label>
          {{input-integer
            value=config.cores
            placeholder=4
            classNames="form-control"
          }}
        </div>
        <div class="col span-6">
          <label class="acc-label">RAM</label>
          <div class="input-group">
            {{input-integer min=256
                            value=config.ram
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">MiB</div>
          </div>
          <p class="help-block">Must be a multiple of 256</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Storge Size</label>
          <div class="input-group">
            {{input-integer value=config.diskSize
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>
        <div class="col span-6">
          <label class="acc-label">Storage Type</label>
          {{new-select class="form-control"
                       content=storageTypeOptions
                       optionLabelPath='name'
                       optionValuePath='value'
                       value=config.diskType
          }}
        </div>
      </div>
      {{else}}
      {{/if}}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Image Alias or ID</label>
          {{input type="text"
                  value=config.image
                  placeholder="ubuntu:20.04"
                  classNames="form-control"
          }}
          <p class="help-block">You can use <a href="https://docs.ionos.com/cli-ionosctl" target="_blank" rel="noopener noreferrer">ionosctl image list [-F name=operatingSystem]</a></p>
        </div>
        <div class="col span-6">
          <label class="acc-label">Image Password</label>
          {{input type="password"
                  value=config.imagePassword
                  placeholder="abcde12345"
                  classNames="form-control"
          }}
          <p class="help-block">Can be used to connect to the VM</p>
        </div>
      </div>
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">Cloud init configuration.</label>
          <textarea id="editor" value={{config.userData}} onchange={{action (mut config.userData) value="target.value" }} rows="3" style="width: 100%; resize: vertical"></textarea>
          <p class="help-block">Optional. <a href="https://cloudinit.readthedocs.io/en/latest/topics/examples.html" target="_blank" rel="noopener noreferrer">Cloud-init Documentation</a>.</p>
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item title="Network Options"
                           detail="Set up your target Datacenter, LAN, and other network settings here."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=false
    }}
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">SSH User</label>
          {{input type="text"
                  value=config.sshUser
                  classNames="form-control"
          }}
          <p class="help-block">Optional. User to connect to via SSH.</p>
        </div>
      </div>
      <div class="row"> {{!-- Datacenter config row--}}
        <div class="col span-4">
          <label class="acc-label">IONOS Datacenter ID</label>
          {{input type="text"
                  value=config.datacenterId
                  classNames="form-control"
          }}
          <p class="help-block">Optional, UUID-4 format. If you want to use an existing IONOS Datacenter to host this VM, you can provide its ID here.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">IONOS Datacenter Name</label>
          {{input type="text"
                  value=config.datacenterName
                  classNames="form-control"
          }}
          <p class="help-block">String. If you want to use an existing IONOS Datacenter to host this VM, you can change the name here. Please note that if the ID is set it will the prioritized.</p>
        </div>
      </div>
      <div class="row">  {{!-- LAN config row--}}
        <div class="col span-4">
          <label class="acc-label">IONOS Lan ID</label>
          <!-- TODO: This, if has input, should make DatacenterID a required input -->
          {{input-integer
            value=config.lanId
            classNames="form-control"
          }}
          <p class="help-block">Optional, integer. The LAN the VM will attach to. If blank, a default LAN will be created. Overrides "Private LAN" setting.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">IONOS Lan Name</label>
          {{input type="text"
                  value=config.lanName
                  classNames="form-control"
          }}
          <p class="help-block">String. If you want to use an existing IONOS LAN, you can change the name here. Please note that if the ID is set it will the prioritized.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Private LAN</label>
          <div class="form-check" style="">
            {{input type="checkbox"
                    checked=config.privateLan
            }}
            <label class="form-check-label" for="privateLanCheckbox">
              Make Default LAN Private
            </label>
          </div>
          <p class="help-block">If the default LAN does not exist, create a private LAN</p>
        </div>
      </div>
      <div class="row"> {{!-- NAT config row--}}
        <div class="col span-4">
          <label class="acc-label">IONOS Nat Gateway ID</label>
          {{input type="text"
                  value=config.natId
                  classNames="form-control"
          }}
          <p class="help-block">Optional, UUID-4 format. Use a preconfigured NAT Gateway. Datacenter ID and Private LAN required. Overrides NAT Config below</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">IONOS Nat Gateway Name</label>
          {{input type="text"
                  value=config.natName
                  classNames="form-control"
          }}
          <p class="help-block">String. If the preconfigured NAT Gateway checkbox is checked, will try creating a NAT with this name, if it doesn't exist.</p>
        </div>
        <div class="col span-4">
          <label class="acc-label">Create a configurable NAT</label>
          <div class="form-check" style="">
            {{input type="checkbox"
                    checked=config.createNat
            }}
            <label class="form-check-label" for="createNatCheckbox">
              Create NAT
            </label>
          </div>
          <p class="help-block">Requires private LAN. You can override settings of this NAT using the form below <a href="#" target="_blank" rel="noopener noreferrer">See open ports here</a>. Must set gateway IP as default route via cloud config, default: 10.0.0.1</p>
        </div>
      </div>
      <!-- Custom NAT Gateway settings  -->
      <div class="row">
        <div class="col span-6 form-group">
        <label class="acc-label">Custom NAT: map LANs to Gateway IPs</label>
          <div class="row">
            <div class="row">
              {{input value=newLanId placeholder="Lan ID" classNames="form-control mb-2 col span-5 autowidth"}}
              {{input value=gatewayIp placeholder="Gateway IP" classNames="form-control mb-2 col span-5 autowidth"}}
              <button type="button" class="btn btn-primary btn-sm col span-2" {{action "addGatewayIp" newLanId gatewayIp}}>Add</button>
            </div>
            {{#each lans as |lan|}}
              <div class="row">
                <label class="acc-label">Lan {{lan.id}} Gateway IPs</label><br/>
                {{#each lan.gatewayIps as |gatewayIp index|}}
                  <div class="row">
                    {{input id=(concat "gatewayIp-" lan.id "-" index) value=(mut gatewayIp) placeholder="Gateway IP" classNames="form-control col span-11 autowidth" readonly=true}}
                    <button type="button" class="btn btn-outline-danger btn-sm col span-1" {{action "deleteGatewayIp" lan index}}>-</button>
                  </div>
                {{/each}}
              </div>
            {{/each}}
            <p class="help-block">Optional. Maps Lan IDs to a specific Gateway IP. Gateway IP must be set manually as default route.</p>
          </div>
        </div>

        <div class="col span-6 form-group">
          <label class="acc-label">Custom NAT: Public IPs</label><br/>

          {{#each config.natPublicIps as |publicIp index|}}
          <div class="row">
            {{input id=(concat "publicIp-" index) value=publicIp placeholder="Public IP" classNames="form-control mb-2 autowidth col" readonly=true}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "deletePublicIp" index}}>-</button>
          </div>
          {{/each}}
          <div class="row">
            {{input id="newPublicIp" value=(mut newPublicIp) placeholder="New Public IP" classNames="form-control mb-2 autowidth col"}}
            <button type="button" class="btn btn-outline-danger btn-sm col span-2" {{action "addPublicIp" newPublicIp}}>+</button>
          </div>
          <p class="help-block">Optional. IPBlock reserved IPs. If not set, the driver will reserve an IPBlock automatically</p>
        </div>
      </div>
    {{/accordion-list-item}}

    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel
    save=(action "save")
    cancel=(action "cancel")
    editing=editing
  }}
</section>